{% extends 'base.html.twig' %}

{% block body %}
    <h1>Club creation</h1>

    {{ form_start(form) }}
    {{ dump(form.nomclub.vars) }}
<div class="col-lg-8 col-md-8">

<div class="form-group">
        <div class="mt-10">

        {{ form_label(form.nomclub,'nom club') }}
        {{ form_widget(form.nomclub,{'attr':{'class':'single-input'}}) }}
        {{ form_errors(form.nomclub) }}
        </div>
        <div class="mt-10">

        {{ form_label(form.idresponsable) }}
        {{ form_widget(form.idresponsable,{'attr':{'class':'single-input'}}) }}
        {{ form_errors(form.idresponsable) }}
        </div>

        <div class="mt-10">

            {{ form_label(form.domaine) }}
        {{ form_widget(form.domaine,{'attr':{'class':'single-input'}}) }}
        {{ form_errors(form.domaine) }}
        </div>


    </div>

        <input type="submit" value="Create" class="genric-btn success circle arrow"
        />
</div>
   
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('club_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
